

*{
  color:#D9B988;
  font-family: 'Caveat', cursive;

}

body{
    background-color: black;
}


/*Header*/

.headerMenu{
	list-style: none;
	display: flex;
	flex-direction: row;
	gap: 0.938rem;
	padding: 1.25rem;
	margin-bottom:3.125rem;
	justify-content: space-evenly;
    

}



.logo{
	width: 200px;
    height: 200px;
    border-radius: 20%;
	display: block;
    margin: auto;
    margin-top: 1.25rem;
}

@media all and (min-width:768px){
	.logo{
		width: 300px;
    	height: 300px;
		margin-top: 3.75rem;
	}
}

@media all and (min-width:1280px){
	.logo{
		width: 500px;
    	height: 500px;
	}
}

.linkHeader{
	text-decoration: none;
    font-size: 1.375em;
    padding: 0.625rem;
    list-style: none;
	
}



@media all and (min-width:768px){
	.linkHeader{
		font-size: 2.5em;
	}
}

@media all and (min-width:1280px){
	.linkHeader{
		font-size: 3.75em;
	}
}

/*sobre mí*/

.photoContainer{
    position: relative;
    display: inline-block;
    text-align: center;
}

@media all and (min-width:768px){
	.photoContainer{
		display: flex;
    	justify-content: center;
	}
}

.hello{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  transform: translate(-176px, 42px);
  color:black;
}

@media all and (min-width:768px){
	.hello{
	font-size: 2.188em;
    text-align: left;
    position: absolute;
    top: 60%;
    left: 40%;
	}
}

.imgBlackWhite{
    width: 414px;
    border-radius:20%;
}

@media all and (min-width:768px){
	.imgBlackWhite{
		width: 700px;
	}
}

@media all and (min-width:1280px){
	.imgBlackWhite{
		width: 1100px;
	}
}

.aboutMe{
  text-align: center;
  font-size: 2.188em;
  
}

@media all and (min-width:768px){
	.aboutMe{
		font-size: 3.125em;
	}
}

@media all and (min-width:1280px){
	.aboutMe{
		font-size: 4.063em;
	}
}

.textAboutMe{
  text-align: center;
  font-size:1.375em;
}

@media all and (min-width:768px){
	.textAboutMe{
		font-size: 2.188em;
		margin: 0 1.875rem 0.625rem 1.875rem;
	}
}

@media all and (min-width:1280px){
	.textAboutMe{
		font-size: 2.5em;
	}
}

/*Tarjetas proyectos*/

  .project{
    font-size: 2.188em;
	text-align: center;
  }

  @media all and (min-width:768px){
	.project{
		font-size: 3.125em;
		
	}
}

@media all and (min-width:1280px){
	.project{
		font-size: 4.063em;
	}
}

.containerProjects{
	display: flex;
    flex-direction: column;
	gap:1.875rem;
	margin-bottom: 1.875rem;
}

@media all and (min-width:768px){
	.containerProjects{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1.25rem;
	}
	
}



@media all and (min-width:1280px){
	.containerProjects{
	display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2.188rem;
}
	}


  .cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
  }
  
  
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .flip-card-front {
    background-image: linear-gradient(45deg, #8f7423db, #4a360f);
  }
  .flip-card-front img {
    width: 190px;
	border-radius: 5%;
	border: solid #82801a;

  }
  .flip-card-back {
    background-image: linear-gradient(315deg, #c4c931db, #363809);
    color: #ffffff;
    transform: rotateY(180deg);
  }

  .flip-card-back-info{
	color:#eabb79;
    text-align: center;
    
  }
  
  .flip-card-back-title{
	color: #4b2c15;
    margin:auto;

  }

  .btnMoreInf{
    border-radius: 15px;
    width: 100px;
    height: 40px;
    font-family: 'Caveat', cursive;
    background-color:#c2a28b;
	border-color: #82801a;;
    color: #4b2c15;
    font-size: 0.875em;
  }

  
  /*Contacto*/


  
  .contact{
    text-align: center;
    font-size: 2.188em;
  }

  @media all and (min-width:768px){
	.contact{
		font-size: 3.125em;
	}
}

@media all and (min-width:1280px){
	.contact{
		font-size: 4.063em;
	}
}


.contactContainer{
    display: flex;
    justify-content: space-evenly;
	margin-top: 1.875rem;
    margin-bottom: 4.375rem;
    
}
  
.iconContainer{
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #4a360f;
  border-color: 2px solid #e2ad2b;
  align-items: center;
  justify-content: center;

}

@media all and (min-width:768px){
	.iconContainer{
		width: 70px;
		height: 70px;
	}
}

@media all and (min-width:1280px){
	.iconContainer{
		width: 100px;
    	height: 100px;
	}
}

@media all and (min-width:768px){
	.icon {
		font-size: 1.875em;
	}
}

@media all and (min-width:1280px){
	.icon{
		font-size: 3.125em;
	}
}

  
  /*Footer*/

  .footer{
    height: 100px;
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
	border-top: 10px solid #5d3315;
  }

  
@media all and (min-width:768px){
	.footer{
		height: 200px;
	}
}

@media all and (min-width:1280px){
	.footer{
		height:300px;
	}
}

.copyright{
  text-align:center;
  font-size: 1.125em;
}

@media all and (min-width:768px){
	.copyright{
		font-size: 2.188em;
	}
}

@media all and (min-width:1280px){
	.copyright{
		font-size: 2.813em;
	}
}

  .logoFooter{
	width: 50px;
	height: 50px;
	color: #937275;
  }

  @media all and (min-width:768px){
	.logoFooter{
		width: 80px;
    	height: 80px;

	}
  }

  @media all and (min-width:1280px){
	.logoFooter{
		width: 120px;
    	height: 120px;
	}
  }




